<div class="flex flex-col gap-6 p-2 animate-fadein">

  <div class="flex items-start gap-4 p-4 bg-slate-900 rounded border-l-4 border-red-700 shadow-md">
    <i class="pi pi-info-circle text-red-500 mt-1 text-lg"></i>
    <div class="flex flex-col">
      <span class="text-[10px] font-black text-white uppercase tracking-[0.2em]">Official Notice</span>
      <p class="text-[11px] text-slate-300 m-0 leading-relaxed">
        Specify the reason for the <span class="text-white font-bold">Deficiency</span> in the
        <span class="text-red-500 font-bold uppercase">{{clearanceService.getOfficeDisplay(officeName())}}</span>.
        This statement will be issued to the student's portal.
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-3">
    <div class="flex flex-wrap justify-between items-end">
      <label class="text-[10px] font-black uppercase text-slate-500 tracking-widest">
        Detailed Remarks / Requirements <span class="text-red-600">*</span>
      </label>
      <span class="text-[9px] font-bold text-slate-300 uppercase italic">Minimum 5 characters</span>
    </div>

    <textarea
              rows="5"
              pTextarea
              [ngModel]="remarks()"
              (ngModelChange)="remarks.set($event)"
              class="w-full !rounded !border-slate-300 focus:!border-red-700 !p-4 !text-sm font-medium text-slate-700 placeholder:text-slate-300 placeholder:italic"
              placeholder="e.g., Unreturned Library Property: 'Introduction to Algorithms' (Accession #10293), Unsettled laboratory breakage fee for Chem Lab 2...">
    </textarea>

    <div class="p-3 bg-red-50 rounded border border-red-100">
      <p class="text-[10px] text-red-800 m-0 flex items-center gap-2 font-bold">
        <i class="pi pi-shield text-[10px]"></i>
        Ensure remarks are specific to expedite student compliance.
      </p>
    </div>
  </div>
</div>